.booklot_logo{
  height: 60px;
  width: 60px;
}

.custom-footer {
  background-color: #000000; 
}

.secret{
  color: white;
}
.copyright{
  color: white;
}
#footer{
  padding: 10px;
}
.follow{
  color: white;
}

